@font-face {
  font-family: 'NotoSans';
  src: url("../fonts/NotoSans-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: 'NotoSans';
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  overflow-x: hidden;
  background: url(../img/bg3.jpg);
}

@media (max-width: 1372px) {
  .container {
    width: 1070px !important;
  }
}

@media (max-width: 1270px) {
  .container {
    width: 970px !important;
  }
}

.wrapper-menu-left {
  width: 210px;
  height: 100vh;
  background: #344A5F;
  position: fixed;
}

.search {
  box-sizing: border-box;
  padding-top: 20px;
  display: flex;
  align-items: center;
}

.search img {
  position: relative;
  left: 15px;
  z-index: 2;
}

input[name*="search"] {
  background: #2C3D4E;
  box-shadow: inset 0 0 10px -3px #1d2833;
  border: none;
  border-radius: 3px;
  color: white;
  width: 180px;
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  position: relative;
  left: -10px;
  font-family: 'NotoSans';
}

.user {
  margin: 15px 15px 5px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user img {
  max-height: 32px;
  margin-right: 10px;
}

.user h1 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 16pt;
  color: #FFFFFF;
}

.line-style-black {
  margin-top: 20px;
  background: #2C3D4E;
  width: 210px;
  height: 40px;
  display: flex;
  align-items: center;
}

.line-style-black h1 {
  color: white;
  font-size: 13pt;
  background: #2C3D4E;
  font-weight: 600;
  margin: 0;
  margin-left: 20px;
}

.menu_item ul {
  padding: 0;
  margin-top: 10px;
}

.menu_item li {
  list-style: none;
  border-bottom: 1px solid #2C3D4E;
  transition: background 0.5s ease;
}

.menu_item li:hover {
  background: #2C3D4E;
}

.menu_item li img {
  max-height: 32px;
  margin-right: 20px;
}

.menu_item li a {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
  height: 50px;
  margin-left: 20px;
  transition: margin-left 0.5s ease;
}

.menu_item li a:hover {
  margin-left: 30px;
}

.menu_drop {
  margin-top: 0 !important;
}

.menu_drop li {
  border-bottom: 1px solid #344A5F;
  background: #2C3D4E;
  transition: background 0.5s ease;
  padding-left: 30px;
  box-sizing: border-box;
}

.menu_drop li:hover {
  background: #344A5F;
}

.menu_drop li:last-child {
  border: none;
}

.wrapper-content {
  margin-top: 30px;
  margin-left: 210px;
}

.wrapper-content > .container > .row > div > div {
  background: #3598DC;
  display: flex;
  flex-direction: column;
  height: 100px;
}

.wrapper-content > .container > .row > div > div img {
  opacity: 0.6;
  position: relative;
  top: -75px;
}

.wrapper-content > .container > .row > div > div img:first-child {
  top: -77px;
}

.wrapper-content > .container > .row > div > div img:nth-child(3) {
  top: -72px;
}

.wrapper-content > .container > .row > div > div img:last-child {
  left: 10px;
}

.tests {
  background: #32C5D2 !important;
}

.failed {
  background: #E7505A !important;
}

.success {
  background: #8E44AD !important;
}

.box_header_text {
  width: 100%;
  text-align: right;
  box-sizing: border-box;
  padding-right: 20px;
  padding-top: 20px;
}

.box_header_text h1 {
  color: #FFFFFF;
  font-size: 26pt;
  margin: 0;
}

.box_header_text h1:nth-child(2) {
  font-size: 12pt;
  margin: 0;
}

.box_header_more {
  width: 100%;
  background: #1d5899;
}

.highcharts-credits {
  display: none;
}

.margin-top-40 {
  margin-top: 40px;
}

#exTab1 .tab-content {
  color: white;
  background-color: rgba(66, 139, 202, 0.6);
  padding: 5px 15px;
}

#exTab1 {
  margin-top: 30px;
  margin-left: 30px;
}

.nav-pills li a {
  border-radius: 0px;
}

#projekt1, #projekt2, #projekt3, #projekt4, #projekt5 {
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative;
}

#1a, #2a, #3a, #4a, #5a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

h3 {
  font-size: 12pt !important;
}

.text {
  margin: 40px 15px 0 0;
}

.content {
  margin-left: 210px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

label.error {
  color: #fff;
  position: absoulte;
  top: 30px;
  left: 50px;
  font-size: 8pt;
  text-transform: uppercase;
}

#form-to-search {
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 130px;
  background: #344A5F;
}

#form-to-search div {
  display: flex;
  flex-direction: column;
}

#form-to-search input[type*="submit"] {
  margin-left: 20px;
  width: 80px !important;
  height: 30px !important;
  background: #041728;
  padding: 0;
  left: 0;
  border: none;
}

#form-to-search input {
  width: 80px;
  height: 25px;
  background: #2C3D4E;
  box-shadow: inset 0 0 10px -3px #1d2833;
  border: none;
  color: white;
  padding-left: 10px;
  font-family: 'NotoSans';
}

#form-to-search div + div {
  margin-left: 20px;
}

.title {
  text-align: center;
}

#content-id-produkt {
  width: 600px;
  height: 410px;
  background: #2C3D4E;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 15pt;
}

#content-id-produkt div + div {
  margin-top: 20px;
}

.tab-produkt div {
  display: inline-flex !important;
  width: 100%;
  background: #1D2833;
}

.tab-produkt span {
  width: 80px;
  margin-left: 80px;
  display: block;
  text-align: right;
}

.tab-produkt span:last-child {
  text-align: left;
  font-weight: 600;
}

.btn-content-produkty {
  width: 100%;
  height: 70px;
  background: #1d2833;
  display: flex;
  align-items: center;
}

.btn-content-produkty input {
  margin-left: 30px;
}

.btn-content-produkty input {
  width: 160px;
  height: 35px;
  background: #041728;
  border: none;
  color: white;
  font-family: 'NotoSans';
  text-transform: uppercase;
  transition: background 0.5s ease;
  cursor: pointer;
}

.btn-content-produkty input:hover {
  background: #2C3D4E;
}

.ilosc-produkt {
  margin-left: 80px;
  margin-top: 40px;
}

.money_rodzaj span:last-child {
  display: flex;
  align-items: center;
}

#model-form input {
  display: none !important;
}

#model-form input:last-child {
  display: inline !important;
}

#model-tab {
  width: 100%;
  background: #041728;
  border: none;
  border-collapse: collapse;
}

#model-tab tr {
  text-align: center;
  border: none;
}

#model-tab tr:nth-child(even) {
  background: #2C3D4E;
}

#model-tab td {
  border: none;
}

#paczki-form input {
  width: 220px;
  height: 40px;
  background: #2C3D4E;
  border: none;
  color: #ffffff;
  font-size: 16px;
  display: block;
  margin: 0 auto;
}

#paczki-tab {
  margin-top: 40px;
  color: #FFFFFF;
  width: 100%;
  background: #041728;
  border: none;
  border-collapse: collapse;
}

#paczki-tab tr {
  text-align: center;
  border: none;
}

#paczki-tab tr:nth-child(even) {
  background: #2C3D4E;
}

#paczki-tab td {
  border: none;
  padding: 5px 10px 5px 10px;
}

#paczki-tab th {
  padding: 5px 10px 5px 10px;
}

#details-paczki-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px !important;
  background: #4F5D73;
  width: 260px;
  height: 60px;
  margin: 0 auto;
}

#details-paczki-form input[type="submit"] {
  width: 120px;
  height: 40px;
  background: #2C3D4E;
  border: none;
  color: #ffffff;
  font-size: 16px;
  display: block;
  margin: 0 auto;
}

#details-paczki-form input[type*="text"] {
  width: 100px;
  height: 40px;
  background: #041728;
  box-shadow: inset 0 0 10px -3px #1d2833;
  border: none;
  color: white;
  padding-left: 10px;
  font-family: 'NotoSans';
  margin-left: 10px;
}

#paczki-tab-details {
  margin-top: 40px;
  color: #FFFFFF;
  width: 100%;
  background: #041728;
  border: none;
  border-collapse: collapse;
}

#paczki-tab-details tr {
  text-align: center;
  border: none;
}

#paczki-tab-details tr:nth-child(even) {
  background: #2C3D4E;
}

#paczki-tab-details td {
  border: none;
  border-bottom: 1px solid  #041728;
  padding: 5px 10px 5px 10px;
}

#paczki-tab-details th {
  padding: 5px 10px 5px 10px;
}

#team-tab {
  margin-top: 40px;
  color: #FFFFFF;
  width: 100%;
  background: #041728;
  border: none;
  border-collapse: collapse;
}

#team-tab tr {
  text-align: center;
  border: none;
}

#team-tab tr:nth-child(even) {
  background: #2C3D4E;
}

#team-tab td {
  border: none;
  border-bottom: 1px solid  #041728;
  padding: 15px 10px 15px 10px;
}

#team-tab th {
  padding: 5px 10px 5px 10px;
}

#submit-team {
  width: 220px;
  height: 40px;
  background: #2C3D4E;
  border: none;
  color: #ffffff;
  font-size: 16px;
  display: block;
  margin: 0 auto;
}

#profil {
  margin-top: 200px;
  width: 400px;
  height: 190px;
  background: #041728;
  color: white;
  padding-top: 10px;
}

#profil .tab-span {
  margin-left: 20px;
  margin-right: 20px;
}

#profil .tab-span div + div {
  margin-top: 10px;
}

#profil .tab-span div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

#profil .tab-span div span {
  padding: 3px 0 3px 0;
}

#profil .tab-span div span:first-child {
  width: 120px;
  text-align: right;
  border-right: 1px solid #fff;
  padding-right: 15px;
  font-weight: 900;
}

#profil .tab-span div span + span {
  margin-left: 15px;
}

#profil .tab-span div:nth-child(even) {
  background: #2C3D4E;
}

.zmien-dane {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  background: #2C3D4E;
  justify-content: center;
  align-items: center;
}

.zmien-dane select {
  margin-right: 10px;
  display: flex;
  align-items: center;
  background: #041728;
  color: #fff;
  font-family: 'NotoSans';
  border: none;
  display: none;
}

.zmien-dane form {
  display: none;
  align-items: center;
}

.zmien-dane input {
  background: #041728;
  box-shadow: inset 0 0 10px -3px #1d2833;
  border: none;
  color: white;
  padding-left: 10px;
  font-family: 'NotoSans';
  margin-left: 10px;
  width: 100px;
}

.zmien-dane input[type*="submit"] {
  width: 80px;
  height: 20px;
  background: #1d2833;
  border: none;
  color: #ffffff;
  font-size: 14px;
  display: block;
  margin-left: 10px;
}

.PokazFormDoZmiany {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.PokazFormDoZmiany button {
  width: 150px;
  height: 20px;
  background: #1d2833;
  border: none;
  color: #ffffff;
  font-size: 14px;
}

#okChange {
  color: red;
}

.form-daneAdd {
  margin-top: 1px;
  background: #1d2833;
  width: 400px;
  color: white;
  height: 450px;
  padding-top: 50px;
  font-weight: 900;
  font-family: 'NotoSans';
}

.form-daneAdd form div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 35px;
  align-items: center;
}

.form-daneAdd form div:nth-child(even) {
  background: #041728;
}

.form-daneAdd form div:nth-child(odd) {
  background: #2C3D4E;
}

.form-daneAdd form span {
  display: block;
  width: 100px;
  text-align: right;
  margin-right: 15px;
}

.form-daneAdd form div + div {
  margin-top: 15px;
}

.form-daneAdd form input[type*="submit"] {
  color: #2C3D4E;
  background: #76C2AF;
  font-family: 'NotoSans';
  font-weight: 600;
  width: 120px;
  height: 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.form-ProductAdd {
  margin-top: 1px;
  background: #1d2833;
  width: 400px;
  color: white;
  height: 480px;
  padding-top: 50px;
  font-weight: 900;
  font-family: 'NotoSans';
}

.form-ProductAdd form div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 35px;
  align-items: center;
}

.form-ProductAdd form div:nth-child(even) {
  background: #041728;
}

.form-ProductAdd form div:nth-child(odd) {
  background: #2C3D4E;
}

.form-ProductAdd form span {
  display: block;
  width: 106px;
  text-align: right;
  margin-right: 15px;
}

.form-ProductAdd form div + div {
  margin-top: 15px;
}

.form-ProductAdd form input[type*="submit"] {
  color: #2C3D4E;
  background: #76C2AF;
  font-family: 'NotoSans';
  font-weight: 600;
  width: 120px;
  height: 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

#okAddPreson {
  margin: 15px auto;
  text-align: center;
  display: block;
}

#okAddProduct {
  margin: 15px auto;
  text-align: center;
  display: block;
}

#home {
  font-family: 'NotoSans';
  font-weight: 600;
  color: white;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  margin-top: 100px;
}

#team-delete {
  margin-top: 100px;
  background: #1d2833;
  width: 400px;
  color: white;
  height: 250px;
  padding-top: 50px;
  font-weight: 900;
  font-family: 'NotoSans';
}

#team-delete form div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 35px;
  align-items: center;
}

#team-delete form div:nth-child(even) {
  background: #041728;
}

#team-delete form div:nth-child(odd) {
  background: #2C3D4E;
}

#team-delete form span {
  display: block;
  width: 106px;
  text-align: right;
  margin-right: 15px;
}

#team-delete form div + div {
  margin-top: 15px;
}

#team-delete form input[type*="submit"] {
  color: #2C3D4E;
  background: #76C2AF;
  font-family: 'NotoSans';
  font-weight: 600;
  width: 120px;
  height: 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

#team-delete form button {
  color: #2C3D4E;
  background: #76C2AF;
  font-family: 'NotoSans';
  font-weight: 600;
  width: 120px;
  height: 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 15px;
}

#team-delete form .submit {
  display: flex;
  flex-direction: column;
  height: 90px;
}

#team-delete form .submit .check {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  background: #2C3D4E;
}
